:root {
  --modal-width: 780px;
}

.modal_page {
  position: fixed;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: aqua;
  z-index: 0;
}

.backdrop {
  height: 100vh;
  position: fixed;
  inset: 0;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 60;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.modal {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 70;
  width: 100%;
  max-width: var(--modal-width);
  height: 100%;
  background: white;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.25);
  overflow: hidden;

  transform: translateX(100%);
  transition: transform 360ms cubic-bezier(0.2, 0.8, 0.2, 1);
  will-change: transform;
}

.modalActive {
  transform: translateX(0%);
}

@media (max-width: 770px) {
  .modal {
    left: 0;
    right: 0;
    max-width: none;
  }
}

.close_button_container {
  position: fixed;
  top: 10px;
  right: calc(-90px + var(--modal-width));
}

.close_button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.close_button img {
  filter: invert(100%) hue-rotate(180deg);
}

.close_button:hover {
  box-shadow: none;
}

.close_button:focus {
  box-shadow: none;
}

.close_button:active {
  background: none;
  transform: translateY(0.1em);
}

.iframe {
  width: 100%;
  height: 95.9vh;
  border: 0;
}

.loader {
  width: 80px;
  height: 40px;
  --c: no-repeat
    radial-gradient(farthest-side, var(--ai-color) 93%, var(--ai-color));
  background: var(--c) 0 0, var(--c) 50% 0, var(--c) 100% 0;
  background-size: 16px 16px;
  position: relative;
  animation: l4-0 1s linear infinite alternate;
}
.loader:before {
  content: '';
  position: absolute;
  width: 14px;
  height: 28px;
  background: var(--ai-color);
  left: 0;
  top: 0;
  animation: l4-1 1s linear infinite alternate,
    l4-2 0.5s cubic-bezier(0, 200, 0.8, 200) infinite;
}
@keyframes l4-0 {
  0% {
    background-position: 0 100%, 50% 0, 100% 0;
  }
  8%,
  42% {
    background-position: 0 0, 50% 0, 100% 0;
  }
  50% {
    background-position: 0 0, 50% 100%, 100% 0;
  }
  58%,
  92% {
    background-position: 0 0, 50% 0, 100% 0;
  }
  100% {
    background-position: 0 0, 50% 0, 100% 100%;
  }
}
@keyframes l4-1 {
  100% {
    left: calc(100% - 8px);
  }
}
@keyframes l4-2 {
  100% {
    top: -0.4px;
  }
}

.loader_container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
