name: Finnets-App
services:
  mock_bank_database:
    image: mysql
    container_name: mock_bank_database
    env_file:
      - ./.env
    environment:
      MYSQL_ROOT_PASSWORD: ${DATABASE_PASS}
    volumes:
      - db_data:/var/lib/mysql
      - ./mock_bank_database/createDB.sql:/docker-entrypoint-initdb.d/createDB.sql:ro
    ports:
      - "3306:3306"

  finnets:
    build:
      context: ./finnets
      dockerfile: ./docker/Dockerfile.dev
    env_file:
      - ./.env
    environment:
      - APP_NAME=finnets
      - NODE_ENV=development
    ports:
      #   - "3001:3000"
      - "3000"
    depends_on:
      - mock_bank_database
    volumes:
      - ./finnets/lib:/finnets/lib
      - ./finnets/eslint.config.mjs:/finnets/eslint.config.mjs
      - ./finnets/db:/finnets/db
      - ./finnets/jsconfig.json:/finnets/jsconfig.json
      - ./finnets/next.config.mjs:/finnets/next.config.mjs
      - ./finnets/package.json:/finnets/package.json
      - ./finnets/app:/finnets/app/
      - ./finnets/public:/finnets/public/
      - ./finnets/components:/finnets/components/
      - ./finnets/middleware.js:/finnets/middleware.js
    working_dir: /finnets
    command: sh -c "npm install && npm run dev"

  mock_bank:
    build:
      context: ./mock_bank
      dockerfile: ./docker/Dockerfile.dev
    env_file:
      - ./.env
    environment:
      - APP_NAME=mock_bank
      - NODE_ENV=development
      - DB_HOST=mock_bank_database
      - DB_PORT=3306
      - DB_NAME=Finnets
      - DB_USER=root
      - DB_PASS=${DATABASE_PASS}
    ports:
      # - "3000:3000"
      - "3000"
    depends_on:
      - mock_bank_database
    volumes:
      - ./mock_bank/lib:/mock_bank/lib
      - ./mock_bank/eslint.config.mjs:/mock_bank/eslint.config.mjs
      - ./mock_bank/db:/mock_bank/db
      - ./mock_bank/jsconfig.json:/mock_bank/jsconfig.json
      - ./mock_bank/next.config.mjs:/mock_bank/next.config.mjs
      - ./mock_bank/package.json:/mock_bank/package.json
      - ./mock_bank/app:/mock_bank/app/
      - ./mock_bank/public:/mock_bank/public/
      - ./mock_bank/components:/mock_bank/components/
      - ./mock_bank/middleware.js:/mock_bank/middleware.js
    working_dir: /mock_bank
    command: sh -c "npm install && npm run dev"

  nginx:
    build:
      context: ./nginx
      args:
        - INTERNAL_SECRET=${INTERNAL_SECRET}
    image: finnets-nginx:local
    container_name: nginx.dev
    env_file:
      - ./.env
    environment:
      - INTERNAL_SECRET=${INTERNAL_SECRET}
    ports:
      - "8080:80"
    depends_on:
      - mock_bank
      - finnets

volumes:
  db_data:
