.selection_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  gap: 10em;
  width: 100%;
}

.selection_container h4 {
  font-style: italic;
  margin-right: auto;
}

.selection_container form {
  display: flex;
  width: 100%;
  justify-content: right;
}

@media (max-width: 750px) {
  .selection_container {
    gap: 5em;
  }

  .selection_container form {
    justify-content: center;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 28px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  right: 5px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--foreground);
}

input:checked + .slider:before {
  transform: translateX(-19px);
}

.switchLabel {
  font-size: 0.9rem;
  user-select: none;
}

.selection_container select {
  padding: 0.6em;
  border-radius: 30;
  border: 2px solid #d1d1d1;
  font-family: var(--language-font);
  background-color: var(--background);
  width: 100%;
}

.select_form {
  font-size: large;
}

.color_control {
  padding: 0.6em;
  border-radius: 30;
  border: 2px solid #d1d1d1;
  font-family: var(--language-font);
  background-color: var(--background);
  width: 100%;
}

.color_control label {
  margin-right: 1em;
  width: 5.5em;
  overflow-x: hidden;
}

.color_control input {
  width: 100%;
  border: none;
  border-radius: 80;
}

/* Chrome/Safari */
.color_control input[type='color'] {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.color_control input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 80px;
}

.color_control input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 80px;
  box-shadow: 0 0 0 2px #d1d1d1 inset;
}

/* Firefox */
.color_control input[type='color']::-moz-color-swatch {
  border: none;
  border-radius: 80px;
  box-shadow: 0 0 0 2px #d1d1d1 inset;
}
