.section {
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 0.8em 1.5em;
  width: 100%;
  max-width: 100em;
}

.section h3 {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}
