.selection_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  gap: 10em;
  width: 100%;
}

.selection_container h4 {
  font-style: italic;
  margin-right: auto;
}

.selection_container form {
  display: flex;
  width: 100%;
  justify-content: right;
}

@media (max-width: 750px) {
  .selection_container {
    gap: 5em;
  }

  .selection_container form {
    justify-content: center;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 28px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  right: 5px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--foreground);
}

input:checked + .slider:before {
  transform: translateX(-19px);
}

.switchLabel {
  font-size: 0.9rem;
  user-select: none;
}
