.search_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5em;
  margin-bottom: 1em;
  padding-top: 0.5em;
}

.search_container input {
  display: flex;
  width: 90%;
  padding: 1.5em 1.2em;
  border-radius: 40px;
  border: 1px solid #ccc;
}

.search_container button {
  background: none;
  border: none;
}

.search_container button:hover {
  background: none;
  border: none;
  cursor: pointer;
}
.search_container button:active {
  background: none;
  border: none;
}
