.main {
  display: flex;
  width: 100%;
  height: 92vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2em;
}

.main a {
  background-color: var(--foreground);
  color: var(--background);
  padding: 0.5em 1em;
  border-radius: 120;
}

.main a:hover {
  transform: translateY(-0.1em);
  box-shadow: 2px 3px 2px #626262;
}
