name: Finnets-App
services:
  finnets_applet:
    build:
      context: ./finnets
      dockerfile: ./docker/Dockerfile.dev
    environment:
      - APP_NAME=mock_bank_site
      - NODE_ENV=development
    ports:
      - "3001:3000"
    # depends_on:
    #   - mock_bank_database
    volumes:
      - ./finnets/package.json:/finnets_applet/package.json
      - ./finnets/app:/finnets_applet/app/
      - ./finnets/public:/finnets_applet/public/
      - ./finnets/components:/finnets_applet/components/
    working_dir: /finnets_applet
    command: sh -c "npm install && npm run dev"

  #! FOR FUTURE IMPLEMENTATION
  # mock_bank_database:
  #   image: mysql
  #   container_name: mock_bank_database
  #   environment:
  #     MYSQL_USER:
  #     MYSQL_ROOT_PASSWORD:
  #     MYSQL_DATABASE:
  #   command: "mysql"

  mock_bank_app:
    build:
      context: ./mock_bank
      dockerfile: ./docker/Dockerfile.dev
    environment:
      - APP_NAME=mock_bank_site
      - NODE_ENV=development
    ports:
      - "3000:3000"
    #! FOR FUTURE IMPLEMENTATION
    # depends_on:
    #   - mock_bank_database
    volumes:
      - ./mock_bank/package.json:/mock_bank_site/package.json
      - ./mock_bank/app:/mock_bank_site/app/
      - ./mock_bank/public:/mock_bank_site/public/
      - ./mock_bank/components:/mock_bank_site/components/
    working_dir: /mock_bank_site
    command: sh -c "npm install && npm run dev"
