name: Finnets-App
services:
  mock_bank_database:
    image: mysql
    container_name: mock_bank_database
    env_file:
      - ../.env
    environment:
      MYSQL_ROOT_PASSWORD: ${DATABASE_PASS}
    volumes:
      - db_data:/var/lib/mysql
      - ./mock_bank_database/createDB.sql:/docker-entrypoint-initdb.d/createDB.sql:ro
    ports:
      - "3306:3306"

  finnets_applet:
    build:
      context: ./finnets
      dockerfile: ./docker/Dockerfile.dev
    env_file:
      - ../.env
    environment:
      - APP_NAME=mock_bank_site
      - NODE_ENV=development
    ports:
      - "3001:3000"
    depends_on:
      - mock_bank_database
    volumes:
      - ./finnets/lib:/finnets_applet/lib
      - ./finnets/eslint.config.mjs:/finnets_applet/eslint.config.mjs
      - ./finnets/db:/finnets_applet/db
      - ./finnets/jsconfig.json:/finnets_applet/jsconfig.json
      - ./finnets/next.config.mjs:/finnets_applet/next.config.mjs
      - ./finnets/package.json:/finnets_applet/package.json
      - ./finnets/app:/finnets_applet/app/
      - ./finnets/public:/finnets_applet/public/
      - ./finnets/components:/finnets_applet/components/
    working_dir: /finnets_applet
    command: sh -c "npm install && npm run dev"

  mock_bank_app:
    build:
      context: ./mock_bank
      dockerfile: ./docker/Dockerfile.dev
    env_file:
      - ../.env
    environment:
      - APP_NAME=mock_bank_site
      - NODE_ENV=development
      - DB_HOST=mock_bank_database
      - DB_PORT=3306
      - DB_NAME=Finnets
      - DB_USER=root
      - DB_PASS=${DATABASE_PASS}
    ports:
      - "3000:3000"
    depends_on:
      - mock_bank_database
    volumes:
      - ./mock_bank/lib:/mock_bank_site/lib
      - ./mock_bank/eslint.config.mjs:/mock_bank_site/eslint.config.mjs
      - ./mock_bank/db:/mock_bank_site/db
      - ./mock_bank/jsconfig.json:/mock_bank_site/jsconfig.json
      - ./mock_bank/next.config.mjs:/mock_bank_site/next.config.mjs
      - ./mock_bank/package.json:/mock_bank_site/package.json
      - ./mock_bank/app:/mock_bank_site/app/
      - ./mock_bank/public:/mock_bank_site/public/
      - ./mock_bank/components:/mock_bank_site/components/
    working_dir: /mock_bank_site
    command: sh -c "npm install && npm run dev"
volumes:
  db_data:
