:root {
  --chat-header-h: 4em;
  --chat-input-h: 8em;
}

.chat_page {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  padding-top: var(--chat-header-h);
}

.chat_header {
  position: fixed;
  top: 0;
  left: 2em;
  right: 2em;
  height: var(--chat-header-h);
  background-color: #f8f8f9;
  z-index: 10;
  padding: 2em 1em 3.2em 1em;
  border-bottom: 1px solid #ccc;
}

.message_section {
  padding: 0 0 9em 0;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.message_section .sent:last-child::after {
  content: 'Sent';
  position: absolute;
  font-size: 0.8em;
  bottom: 10.5em;
  right: 0;
  color: #888;
  padding: 5px;
  font-size: 12px;
}

.message {
  padding: 0.6em 0.8em;
  border-radius: 10px;
  width: fit-content;
  /* user-select: none; */
  margin: 0.2em 0;
  max-width: 60%;
}

.received {
  background-color: #d0d0d0;
  align-self: flex-start;
}

.sent {
  background-color: var(--foreground);
  color: var(--background);
  align-self: flex-end;
  margin-left: auto;
}

.input_section {
  position: fixed;
  bottom: 0;
  left: 2em;
  right: 2em;
  height: var(--chat-input-h);
  background-color: #f8f8f9;
  display: flex;
  gap: 1em;
  align-items: center;
  padding: 1.25em;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
}

.send_button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.message_input {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 1em 1.5em;
  width: 100%;
}
