:root {
  --background: #f8f8f9;
  --foreground: #3a84ff;
  --heading-text-color: #000712;
  --body-text-color: #000712;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  padding: 1em 1.4em;
  background-color: #f8f8f9;
}

@media (max-width: 790px) {
  html,
  body {
    padding: 1em 1em;
  }
}

body {
  color: var(--body-text-color);
  background: var(--background);
  font-family: Ubuntu, Inter, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headding-text-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
